body {
  margin: 25px auto;
  max-height: 1375px;
  max-width: 1063px;
}

.resume {
  display: flex;
  flex-wrap: nowrap;
  color: #1E1C1F;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  
}

h1 {
  color: #D72432;
  font-size: 3em;
}

h2 {
  color: #D72432;
  font-size: 2em;
}

h3 {
  color: #D72432;
  font-size: 2em;
}

h4 {
  color: #D72432;
  font-size: 1.5em;
}

h5 {
  color: #D72432;
  font-size: 1em;
 
}

p {
  font-size: 1em;
}

.leftCol {
  display: flex;
  background-color: #DDDAD6;
}

#portrait {
  height: auto;
}

img {
  width: 100%;
}

/* #contact {
  
}

#references {
  
} */

.rightCol {
  display: grid;
  padding: 6px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat (9, 1fr);
  grid-template-areas:
    "mainName mainName"
    "profession profession"
    "intro intro"
    "coreSkills coreskills"
    "fightOne fightTwo"
    ". ."
    "achOne ."
    "achTwo ."
    "achThree ."
    
}

#mainName{
  grid-area: mainName;
}

#profession {
  grid-area: profession;
}

#intro {
  grid-area: intro;
}

#coreSkills {
  grid-area: coreSkills;
}

.fightOne {
  grid-area: fightOne;
}

.fightTwo {
  grid-area: fightTwo;
}

.achOne {
  grid-area: achOne;
}

.achTwo {
  grid-area: achTwo;
}

.achThree {
  grid-area: achThree;
}